body{
    background-image: url(../img/Banner.png.png);
    .row{
        color: bisque;
        margin-top: 150px;
        margin-bottom: 120px;
        text-align: center;
        font-size: 60px;
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
     }
     
    H1{
        color: bisque;
         font-size: 60px;
         font-family: "Protest Strike", sans-serif;
         font-weight: 400;
         font-style: normal;
     }   

    H2{
        color: bisque;
        margin-top: 35px;
        font-size: 60px;
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


}
