
body{
    background-image: url(../img/poste.png)
}

ul.thumbnails{
    color: bisque;
    margin-top: 60px;
}

a.btn{
    text-align: center;
    margin-left: 43%;
}

h2{
    color: bisque;
}
